# ------------------------------------------------------------------------------
# [START] TYPO3 core versions
# ------------------------------------------------------------------------------
# Syntax: typo3-version.<STATE> = <comma separated list of versions>

# TYPO3 version 1.x: obsolete
typo3-version.critical = 1,1.x,1.x.x

# TYPO3 version 2.x: obsolete
typo3-version.critical = 2,2.x,2.x.x

# TYPO3 version 3.x: obsolete
typo3-version.critical = 3,3.x,3.x.x

# TYPO3 version 4.x: obsolete
typo3-version.critical = 4,4.x,4.x.x

# TYPO3 version 6.x releases
typo3-version.critical = 6.0.x
typo3-version.critical = 6.1.x

# TYPO3 version 6.2 LTS
# End of free support: 31 March 2017
# End of ELTS: March 2021 (last release was v6.2.57)
# https://get.typo3.org/release-notes/6.2.57
typo3-version.critical = 6.2.x

# TYPO3 version 7.x Sprint Releases
typo3-version.critical = 7.0.x
typo3-version.critical = 7.1.x
typo3-version.critical = 7.2.x
typo3-version.critical = 7.3.x
typo3-version.critical = 7.4.x
typo3-version.critical = 7.5.x

# TYPO3 version 7 LTS
# End of free support: 30 November 2018
# End of ELTS: 30 November 2022
# https://typo3.com/services/extended-support-elts/typo3-extended-support-v76
typo3-version.warning = 7.6.x

# TYPO3 version 8.x Sprint Releases
typo3-version.critical = 8.0.x
typo3-version.critical = 8.1.x
typo3-version.critical = 8.2.x
typo3-version.critical = 8.3.x
typo3-version.critical = 8.4.x
typo3-version.critical = 8.5.x
typo3-version.critical = 8.6.x

# TYPO3 version 8 LTS
# End of free support: 31 March 2020
# End of ELTS: 31 March 2023
# https://typo3.com/services/extended-support-elts/typo3-extended-support-v87
typo3-version.warning = 8.7.x

# TYPO3 version 9.x Sprint Releases
typo3-version.critical = 9.0.x
typo3-version.critical = 9.1.x
typo3-version.critical = 9.2.x
typo3-version.critical = 9.3.x
typo3-version.critical = 9.4.x

# TYPO3 version 9 LTS
# End of free support: 30 September 2021
# End of ELTS: 31 October 2024
# https://typo3.com/services/extended-support-elts/typo3-extended-support-v95
typo3-version.warning = 9.5.x

# TYPO3 version 10.x Sprint Releases
typo3-version.critical = 10.0.x
typo3-version.critical = 10.1.x
typo3-version.critical = 10.2.x
typo3-version.critical = 10.3.x

# TYPO3 version 10 LTS
# End of free support: 30 April 2023
# End of ELTS: (unknown)
#typo3-version.warning = 10.4.x

# TYPO3 version 11.x Sprint Releases
typo3-version.critical = 11.0.x
typo3-version.critical = 11.1.x
typo3-version.critical = 11.2.x
typo3-version.critical = 11.3.x
typo3-version.critical = 11.4.x

# TYPO3 version 11 LTS
# End of free support: 31 October 2024
# End of ELTS: 31 October 2027 (to be confirmed)
#typo3-version.warning = 11.5.x (free support ends on 31 October 2024)

# TYPO3 pre-releases (alpha, beta and development).
#typo3-version.warning = alpha,beta,dev

# TYPO3 Core versions with known security issues
<f:for each="{insecureCoreVersions}" as="insecureVersions">
typo3-version.critical = {insecureVersions}
</f:for>
# ------------------------------------------------------------------------------
# [END] TYPO3 core versions
# ------------------------------------------------------------------------------
